@page
@model FinanceTrackerWeb.Pages.Transactions.CreateModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавление транзакции";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Transaction.Amount" class="form-label">Сумма *</label>
        <input asp-for="Transaction.Amount" class="form-control" type="number" step="0.01">
        <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Transaction.Date" class="form-label">Дата *</label>
        <input asp-for="Transaction.Date" class="form-control" type="date">
        <span asp-validation-for="Transaction.Date" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Transaction.Type" class="form-label"></label>
        <select asp-for="Transaction.Type" class="form-select">
            <option value="Income">Доход</option>
            <option value="Expense">Расход</option>
        </select>
        <span asp-validation-for="Transaction.Type" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Transaction.CategoryId" class="form-label">Категория *</label>
        <select asp-for="Transaction.CategoryId" class="form-select"
                asp-items="@Model.Categories">
            <option value="">-- Выберите категорию --</option>
        </select>
        <span asp-validation-for="Transaction.CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Transaction.Description" class="form-label">Описание</label>
        <textarea asp-for="Transaction.Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Transaction.Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-page="Index" class="btn btn-secondary">Отмена</a>
</form>